@model IEnumerable<Transaction>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Descrição</th>

                    </tr>
                </thead>

                <tbody>
                    @{
                        var culture = new System.Globalization.CultureInfo("pt-BR");
                    }
                    @foreach (var transaction in Model)
                    {
                    <tr>
                        <td>@transaction.Date.ToString("d", culture)</td>
                        <td>@transaction.Value</td>
                        <td>@transaction.Type</td>
                        <td>@transaction.Category</td>
                        <td>

                            <div class="btn-group">
                                <a asp-controller="transaction" asp-action="edit" asp-route-id="@transaction.Id"
                                   class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                                </a>

                            </div>

                        </td>
                    </tr>

                    }


                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Gerenciar transações</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-controller="transaction" asp-action="create" class="btn btn-primary">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>Adicionar transação</span>
                    </a>

                </li>
                <li class="list-group-item">
                    <a asp-controller="transaction" asp-action="search" class="btn btn-primary">
                        <i class="glyphicon glyphicon glyphicon-search"></i>
                        <span>Buscar transação</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
